.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100rem;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 0 0 200px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.info-card {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}

.info-card h2 {
  margin-bottom: 8px;
}
